html{
    background-color: rgb(253, 241, 224);
}

nav{
    display: flex;
    justify-content: space-evenly;

}

a{
    text-decoration: none ;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
article{
    
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.FCPEMember{
    background-color: rgb(248, 248, 90);
}

#titles{
    background-color: rgb(113, 223, 155);
}
.div-data{
    display: inline-block;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

.small{
    width: 40px;
}

.medium{
    width: 90px;
}

.large{
    width: 220px;
}

.HasPortant{
    font-weight: bold;
    color: rgb(252, 84, 84);
}

section{
    margin-bottom: 20px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}






/*                        PLAN                                 */

#plan-actions{
    width: 100%;
    padding: 0 30px;
    display: flex;
    gap: 30px;
}

#plan-waitingForPlace{ 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

}

#plan-map{
  
}

.plan-reservation{
    text-align: center;
    font-size: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.tables{
    display: flex;
    margin-bottom: 5px;
}

.table-actions{
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}

.table-names{
    width: 15px;

}

.table-emplacements{
    width: 75px;
    background-color: rgb(1, 184, 184);
    border: 1px solid black;
    text-align: center;
}